<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Technical Solutions Architect and Senior Software Developer with over 17 years of experience designing and delivering high quality and high-performance software solutions.  Skilled in team leadership, application design and development, cloud computing, APIs and service oriented architecture (SOA).  A proven technical leader and mentor, excels in communication across organization levels, leading geographically distributed teams and organizational change management (OCM).
			<br/><br/>
      I enjoy creating amazing products, providing friendly and intuitive user experiences.  I have strong focus on industry proven development practices, automation and shipping small, frequent releases.
    </div>
		<br>
	</div>
</div>
