<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Technical Architect and Senior Software Developer working at a large midwest based Insurance provider. Having spent my entire 17 year career with this company has provided me with extensive history and hands on experience with the design and development of enterprise grade solutions.
                        I enjoy creating amazing products, providing friendly and intuitive user experiences.  I have strong focus on industry proven development practices, automation and shipping small, frequent releases.
                </div>
		<br>
	</div>
</div>
